@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #a855f7;
  --color-dark: #0f172a;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased;
  }
}
